@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "_LayoutUsers";
}
@model UserModel?
@section Style{

}
<!-- Register basic -->
<div class="card mb-0">
    <div class="card-body">
        <a href="https://www.associatec.com.br" class="brand-logo">
            <img src="https://www.associatec.com.br/wp-content/uploads/2022/08/Logo_Associatec_topo.png" width="155" alt="Vuexy Admin" style="border: 0; max-width: 100%; line-height: 100%; vertical-align: middle;">
        </a>
        <h4 class="card-title mb-1 text-center">Bem Vindo <span class="text-center" style="color:red">Associatec</span> </h4>
        <h5 class="card-title mb-1"> Por favor, Preencha todos os Campos!!</h5>
        <form class="auth-register-form mt-2" onsubmit="return CriarUsuario(event);">
            <div class="mb-1">
                <label for="register-username" class="form-label">Nome</label>
                <input type="text" class="form-control" id="User-nome" name="register-username" placeholder="johndoe" aria-describedby="register-username" tabindex="1" autofocus />
            </div>
            <div class="mb-1">
                <label for="register-email" class="form-label">Email</label>
                <input type="text" class="form-control" id="User-email" name="register-email" placeholder="john@example.com" aria-describedby="register-email" tabindex="2" />
            </div>

            <div class="mb-1">
                <label class="form-label" for="confirm_password_user">Digite sua senha </label>
                <div class="input-group input-group-merge">
                    <span class="input-group-text"><i class='icon-vuesax-linear-lock'></i></span>
                    <input type="password" id="User-senha" class="form-control input-group-text text-start" name="confirm_password_user" placeholder="Confirmar Senha">
                </div>
            </div>
            <div class="mb-1">
                <label class="form-label" for="confirm_password_user">Confirmar Senha</label>
                <div class="input-group input-group-merge">
                    <span class="input-group-text"><i class='icon-vuesax-linear-lock'></i></span>
                    <input type="password" id="User-senha-confirm" class="form-control input-group-text text-start" name="confirm_password_user" placeholder="Confirmar Senha">
                </div>
            </div>
            <div class="mb-1">
                <div class="password-strength">
                    <div class="d-flex justify-content-start">
                        <i id="i-caracteres8" data-feather='check-circle'></i>
                        <p class="ps-2 lh-1">8 Caracteres</p>
                    </div>
                    <div class="d-flex justify-content-start">
                        <i id="i-maisculo" data-feather='check-circle'></i>
                        <p class="ps-2 lh-1">1 Letra maiúsculas </p>
                    </div>
                    <div class="d-flex justify-content-start">
                        <i id="i-especial" data-feather='check-circle'></i>
                        <p class="ps-2 lh-1">1 Caracteres especial </p>
                    </div>
                    <div class="d-flex justify-content-start">
                        <i id="i-numero" data-feather='check-circle'></i>
                        <p class="ps-2 lh-1">1 Numero </p>
                    </div>
                    <div class="d-flex justify-content-start">
                        <i id="I-correspondem" data-feather='check-circle'></i>
                        <p class="ps-2 lh-1">Senha correspondem </p>
                    </div>
                </div>
                <p id="password-strength"></p>
            </div>
            <button class="btn btn-primary w-100" tabindex="5">Criar nova conta</button>
        </form>

        <p class="text-center mt-2">
            <span>Voce ja tem conta?</span>
            <a asp-action="index" asp-controller="Users">
                <span>Logar</span>
            </a>
        </p>
    </div>
</div>
<!-- /Register basic -->
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#User-senha').keyup(function () {

                var password = $('#User-senha').val();
                var passwordLength = password.length;
                var Caracters8 = $('#i-caracteres8');
                var Maiusculo = $('#i-maisculo');
                var Especial = $('#i-especial');
                var numero = $('#i-numero');

                if (passwordLength >= 8) {
                    Caracters8.css("color", "green");
                } else {
                    Caracters8.css("color", "");
                }

                if (/[a-z]/.test(password) && /[A-Z]/.test(password)) {
                    Maiusculo.css("color", "green")
                } else {
                    Maiusculo.css("color", "")
                }

                if (password.match(/[!#$%^&*]/)) {
                    Especial.css("color", "green");
                } else {
                    Especial.css("color", "")
                }

                if (password.match(/[0-9]/)) {
                    numero.css("color", "green");
                } else {
                    numero.css("color", "")
                }


            });

            $('#User-senha-confirm').keyup(function () {
                var password = $('#User-senha').val();
                var passwordConfirm = $('#User-senha-confirm').val();
                var caracteres = $('#I-correspondem');

                if (password.length >= 1) {
                    if (password == passwordConfirm) {
                        console.log("entrou no if da senhas");
                        caracteres.css("color", "green")
                    } else {
                        caracteres.css("color", "")
                    }
                }
            });

        });

    </script>
    <script>
        async function validacampos() {

            var NomeUser = $('#User-nome').val();
            var EmailUser = $('#User-email').val();
            var SenhaUser = $('#User-senha').val();
            var SenhaUserConfirm = $('#User-senha-confirm').val();

            if (!NomeUser || !EmailUser || !SenhaUser || !SenhaUserConfirm) {
                await swal.close();
                alertError("Por favor, Preencha todos os campos");
                return false;
            }
            return true;
        };

        async function validaSenha() {
            var password = $('#User-senha').val();
            var passwordConfirm = $('#User-senha-confirm').val();

 
            if (password.length < 8) {
                await swal.close();
                alertError("Sua senha deve conter 8 caracteres");
                return false
            }
            var bool = /[a-z]/.test(password);
            var bool2 = /[A-Z]/.test(password);

            console.log(bool);
            console.log(bool2);

            if (!bool || !bool2) {
                await swal.close();
                alertError("Sua senha deve ter letras maisuculas e minusculas");
                return false
            }

            bool = password.match(/[!#$%^&*]/);

            if (!bool) {
                await swal.close();
                alertError("Sua senha deve ter caracteres especiais");
                return false
            }

            bool = password.match(/[0-9]/)
            if (!bool) {
                await swal.close();
                alertError("Sua senha deve ter pelo menos 1 numero");
                return false
            }
            bool = password == passwordConfirm;
            if (!bool) {
                await swal.close();
                alertError("As Senha nao batem");
                return false
            }
            return true

        };

        async function CriarUsuario(event) {
            event.preventDefault();

            if (await validacampos() && await validaSenha()) {
                var data = {
                    Email: $('#User-email').val(),
                    Nome:  $('#User-nome').val(),
                    Senha: $('#User-senha').val()
                };
               await CriarUsuarioRota(data);
            }
        };

        async function CriarUsuarioRota(Envoiment) {
            await $.ajax({
                url: "/Users/CriarUsuario",
                type: "POST",
                data: Envoiment
            }).done(async function (response) {
                    


              }).fail(async function (xhr) {
                await Swal.close();
                alertError(`Houve um erro, descrição: ${xhr.responseText}`);
                });
        };
    </script>
 }