@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutUsers";
}
<!-- Login basic -->
<div class="card mb-0">
    <div class="card-body">
        <a href="https://www.associatec.com.br" class="brand-logo">
            <img src="https://www.associatec.com.br/wp-content/uploads/2022/08/Logo_Associatec_topo.png" width="155" alt="Vuexy Admin" style="border: 0; max-width: 100%; line-height: 100%; vertical-align: middle;">
        </a>
        <h4 class="card-title mb-1 text-center">Bem Vindo <span class="text-center" style="color:red">Associatec</span> </h4>

        <form class="auth-login-form mt-2" onsubmit="return LogarUser(event);">
            <div class="mb-1">
                <label for="login-email" class="form-label">Email</label>
                <input type="text" class="form-control" id="User_Email" placeholder="john@example.com" aria-describedby="login-email" tabindex="1" autofocus />
            </div>

            <div class="mb-1">
                <div class="d-flex justify-content-between">
                    <label class="form-label" for="login-password">Senha</label>
                    <a asp-action="EmailReset" asp-controller="Users" style="color:red">
                        <small>Esqueceu a senha ?</small>
                    </a>
                </div>
                <div class="input-group input-group-merge form-password-toggle">
                    <input type="password" class="form-control form-control-merge" id="User_Senha" tabindex="2" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="login-password" />
                    <span class="input-group-text cursor-pointer"><i data-feather="eye"></i></span>
                </div>
            </div>
            <div class="mb-1">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="id_Relembrar" tabindex="3" />
                    <label class="form-check-label" for="remember-me"> Manter logado </label>
                </div>
            </div>
            <button class="btn btn-primary w-100" tabindex="4">Logar</button>
        </form>

        <p class="text-center mt-2">
            <span>Botao para entrar na view de novasenha </span>
            <a style="color:red" asp-controller="Users" asp-action="NovaSenha">
                <span>Criar Conta?</span>
            </a>
        </p>

        <p class="text-center mt-2">
            <span>Novo aqui, </span>
            <a style="color:red" asp-controller="Users" asp-action="Criar">
                <span>Criar Conta?</span>
            </a>
        </p>
    </div>
</div>
<!-- /Login basic -->
@section scripts {
    <script>
        async function LogarUser(event) {
            event.preventDefault();

            console.log("Funciona");

            var bool = await ValidaCampos();
            if (bool) {
                var check = false;
                if ($('#id_Relembrar').is(':checked')) {
                    check = true;
                }

                var EmailUser = $('#User_Email').val();
                var SenhaUser = $('#User_Senha').val();
                var data = {
                    Email: EmailUser,
                    senha: SenhaUser,
                    MaterLogado: check
                };

                await LogarRota(data)

            }
        }


        async function ValidaCampos() {

            var NomeSenha = $('#User_Senha').val();
            var EmailUser = $('#User_Email').val();

            if (!NomeSenha || !EmailUser) {
                await swal.close();
                alertError("Por favor, Preencha todos os campos");
                return false;
            }
            return true;
        }

        async function LogarRota(Envoiment) {
            await $.ajax({
                url: "/Users/Logar",
                type: "POST",
                data: Envoiment
            }).done(async function (response) {



            }).fail(async function (xhr) {
                await Swal.close();
                alertError(`Houve um erro, descrição: ${xhr.responseText}`);
            });
        };
    </script>
}