@{
    ViewData["Title"] = "Nova Senha";
    Layout = "_LayoutUsers";
}


<!-- Reset Password basic -->
<div class="card mb-0">
    <div class="card-body">
        <a href="https://www.associatec.com.br" class="brand-logo">
            <img src="https://www.associatec.com.br/wp-content/uploads/2022/08/Logo_Associatec_topo.png" width="155" alt="Vuexy Admin" style="border: 0; max-width: 100%; line-height: 100%; vertical-align: middle;">
        </a>

        <h4 class="card-title mb-1">Resetar senha 🔒</h4>
        <p class="card-text mb-2">Por favor, Digite seu email e depois sua senha nova!!!</p>

        <form class="auth-reset-password-form mt-2" action="auth-login-basic.html" method="POST">
            <div class="mb-1">
                <label for="register-email" class="form-label">Email</label>
                <input type="text" class="form-control" id="User-email" name="register-email" placeholder="john@example.com" aria-describedby="register-email" tabindex="2" />
            </div>

            <div class="mb-1">
                <label class="form-label" for="confirm_password_user">Digite sua senha </label>
                <div class="input-group input-group-merge">
                    <span class="input-group-text"><i class='icon-vuesax-linear-lock'></i></span>
                    <input type="password" id="User-senha" class="form-control input-group-text text-start" name="confirm_password_user" placeholder="Confirmar Senha">
                </div>
            </div>
            <div class="mb-1">
                <label class="form-label" for="confirm_password_user">Confirmar Senha</label>
                <div class="input-group input-group-merge">
                    <span class="input-group-text"><i class='icon-vuesax-linear-lock'></i></span>
                    <input type="password" id="User-senha-confirm" class="form-control input-group-text text-start" name="confirm_password_user" placeholder="Confirmar Senha">
                </div>
            </div>
            <div class="mb-1">
                <div class="password-strength">
                    <div class="d-flex justify-content-start">
                        <i id="i-caracteres8" data-feather='check-circle'></i>
                        <p class="ps-2 lh-1">8 Caracteres</p>
                    </div>
                    <div class="d-flex justify-content-start">
                        <i id="i-maisculo" data-feather='check-circle'></i>
                        <p class="ps-2 lh-1">1 Letra maiúsculas </p>
                    </div>
                    <div class="d-flex justify-content-start">
                    <i id="i-especial" data-feather='check-circle'></i>
                        <p class="ps-2 lh-1">1 Caracteres especial </p>
                    </div>
                    <div class="d-flex justify-content-start">
                        <i id="i-numero" data-feather='check-circle'></i>
                        <p class="ps-2 lh-1">1 Numero </p>
                    </div>
                    <div class="d-flex justify-content-start">
                        <i id="I-correspondem" data-feather='check-circle'></i>
                        <p class="ps-2 lh-1">Senha correspondem </p>
                    </div>
                </div>
                <p id="password-strength"></p>
            </div>
            <button class="btn btn-primary w-100" tabindex="3">Registrar nova senha</button>
        </form>

        <p class="text-center mt-2">
            <a asp-action="index" asp-controller="Users"> <i data-feather="chevron-left"></i> Voltar para o login </a>
        </p>
    </div>
</div>
<!-- /Reset Password basic -->
@section scripts {
    
}